.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #d1d1d1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px
}

.wrap-table100 {
    width: 1300px
}

table {
    width: 100%;
    background-color: #fff;
    border: 0px solid skyblue;
    
}

th,td {
    font-weight: unset;
    padding-right: 10px;
    border: 0px solid skyblue;
}

.column100 {
    width: 130px;
    padding-left: 25px
}

.column100.column1 {
    width: 265px;
    padding-left: 42px
}

.row100.head th {
    padding-top: 24px;
    padding-bottom: 20px
}

.row100 td {
    padding-top: 18px;
    padding-bottom: 14px
}

.table100.ver1 td {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: gray;
    line-height: 1.4
}

.table100.ver1 th {
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #36304a
}

.table100.ver1 .row100:hover {
    background-color: #f2f2f2
}

.table100.ver1 .hov-column-ver1 {
    background-color: #f2f2f2
}

.table100.ver1 .hov-column-head-ver1 {
    background-color: #484848!important
}

.table100.ver1 .row100 td:hover {
    background-color: #6c7ae0;
    color: #fff
}

.High{
    padding : 2px 10px;
    background-color: orangered;
    border-radius: 7px;

}

.Medium{
    padding : 2px 10px;
    background-color: yellow;
    border-radius: 7px;

}

.Low{
    padding : 2px 10px;
    background-color: greenyellow;
    border-radius: 7px;
}

.card{
        /* previously added styles */
      padding: 10px 20px;
      border: 1px solid #c9c9c9;
        border-radius: 7px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
        margin: 5px;
}